# consider to re-import gensim once the distribution size is reduced significantly
# issue: https://github.com/RaRe-Technologies/gensim/issues/1783
gensim==4.1.2
nltk==3.6.6
scikit-learn==1.0.1
tiktoken==0.4.0
urllib3==1.26.15
